/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,600;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: solid;
    border-width: 0.5px;
    border-color: skyblue;

} */

body {
    background-color: #0E1422;
}

.x-grid {
    color: white;
    opacity: 0.05;
}

.y-grid {
    color: white;
    opacity: 0.05;
}

.cyan-drop-shadow {
    filter: drop-shadow(0 5px 5px #00b7c3);
}

.banner-bg {
    background-image: linear-gradient(rgba(14, 14, 14, 0.9), rgba(89, 89, 89, 0.382)), url(../public/images/banner.jpeg)
}

.gradient-text {
    background: linear-gradient(90deg, #101869 0%, #2db9f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-stroke {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}

.text-stroke-black {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}